<configuration>
    <!-- Spring property를 사용해 서버 이름을 로깅에 포함 -->
    <springProperty scope="context" name="server-name" source="server.name"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 로그 패턴 설정: 시간, 레벨, traceId, 간결한 클래스명, 메시지 -->
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{20}) traceId=%boldYellow(%X{traceId}) : %msg %n
            </pattern>
        </encoder>
    </appender>
    <!-- Logstash로 JSON 형식의 로그 전송 -->
    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination> <!-- Logstash의 입력 포트 -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date",
                        "level": "%level",
                        "thread": "%thread",
                        "logger": "%logger",
                        "class": "%class",
                        "method": "%method",
                        "line": "%line",
                        "message": "%message",
                        "server-name": "${server-name}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 및 Logstash로 전송 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STASH" />
    </root>
</configuration>
